.Nav{
    width: 100%;
    height: 90px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}
.InnerNav{
    width: 90%;
    height: 70px;
    margin-left: 5%;
    background-color: rgb(44, 46, 46);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}
.Nright{
    display: flex;
    gap: 2px;
    height: 60px;
    width: 180px;
    align-items: center;
    
}
.Nav .link{
    color: rgb(228, 231, 234);
    text-decoration: none;  
    background-color: rgb(44, 46, 46);  
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    transition: transform 0.90s ease, background-color 0.90s ease, color 0.90s ease;
}

.Nav button{
    background-color: rgb(44, 46, 46);  
    padding: 5px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    transition: transform 0.90s ease;
}
.Nav button:hover .link{
    transform: scale(110%);
    background-color: aliceblue;
    color: black;
    
}